@import url("pad/normalize.css");

@import url("pad/layout.css");
@import url("pad/fonts.css");
@import url("pad/toolbar.css");
@import url("pad/popup.css");
@import url("pad/popup_connectivity.css");
@import url("pad/popup_import_export.css");
@import url("pad/popup_users.css");
@import url("pad/icons.css");
@import url("pad/chat.css");
@import url("pad/gritter.css");
@import url("pad/loadingbox.css");
@import url("pad/form.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Arial", "Roboto", sans-serif;
}

html {
  font-size: 15px;
  color: #3e3e3e;
}

html,
#sidedivinner > div:before {
  font-family: Roboto;
}

.clear {
  clear: both;
}
a {
  color: inherit;
  overflow-x: auto;
  white-space: nowrap;
}
a img {
  border: 0;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
}
.thin-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
}

.buttontext::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.buttontext:focus {
  /* Not sure why important is required here but it is */
  border: 1px solid #666 !important;
}
.rtl {
  direction: RTL;
}

/* fix for misaligned checkboxes */
input[type="checkbox"] {
  vertical-align: -1px;
}
input {
  color: inherit;
}
.right {
  float: right;
}

@media (max-width: 800px) {
  .hide-for-mobile {
    display: none;
  }
}
.ep-align-left {
  float: left;
  margin-right: 1em;
}
.ep-align-right {
  float: right;
  margin-left: 1em;
}
.ep-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.coordinator.assigned,
.assigned {
  background-color: #ffb5d1;
  padding-bottom: 0;
}
.coordinator.assigned:has(.readOnly),
.readOnly:has(.coordinator.assigned),
.coordinator.assigned:has(.editable),
.assigned:has(.assigned:has(.editable)),
.editable .coordinator.assigned,
.editable span,
.assigned:has(.editable),
.assigned.editable {
  background-color: #ffffff;
  /* border-left: 0; */
  padding-bottom: none;
}
.editable {
  background-color: #ffffff !important;
}
/* .assigned.editable {
  background-color: none;
  border-left: none;
} */

/* .assigned.hidden {
  visibility: hidden !important;
}
.hidden {
  visibility: hidden !important;
  background-color: red !important;
} */
.assigned {
  display: inline-block !important;
  position: relative;
  pointer-events: auto !important;
}
.editable .assigned,
.assigned .editable {
  background-color: #ffffff !important;
}

.assigned[data-tooltip] {
  position: relative;
}

/* The tooltip */
.assigned[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 100%;
  left: 400px;
  background-color: #f2f3f4;
  color: #14568c;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 14px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 9999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.06);
  white-space: break-spaces;
  display: none;
  font-size: 1rem;
  border: 0.01rem solid #14568c;
}

.assigned[data-tooltip]:hover::after {
  display: inline;
}

.coordinator.assigned.readOnly,
.coordinator.assigned.readOnly,
.readOnly .coordinator.assigned {
  pointer-events: none;
  background-color: none;
  border-left: none;
}
/* Tooltip text box */
/* .coordinator.assigned[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0%;
  left: 100%;
  left: 50%;
  /* transform: translateX(-50%); */
/* background-color: #f2f3f4;
  color: #14568c;
  padding: 0.5rem;
  border-radius: 0.3rem;
  white-space: nowrap;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.06);
  z-index: 10000;
  border: 0.01rem solid #14568c;
} */

.editable .coordinator.assigned[data-tooltip]::after,
.editable .coordinator.assigned[data-tooltip]::before,
.editable + ::after,
.editable::after,
.editable .assigned[data-tooltip]::after,
.editable span[data-tooltip]::after {
  display: none;
}
/* Show tooltip on hover */
.coordinator.assigned:hover[data-tooltip]::after,
.coordinator.assigned:hover[data-tooltip]::before {
  opacity: 1;
  pointer-events: auto;
}

.hidden,
div span:has(.hidden),
div:has(.hidden) {
  display: none !important;
}

.readOnly {
  pointer-events: none;
  user-select: none;
  /* opacity: 0.7; */
}

.editable {
  pointer-events: auto;
}
.red-text {
  color: red !important;
}
