@import url("pad/normalize.css");

@import url("pad/layout.css");
@import url("pad/fonts.css");
@import url("pad/toolbar.css");
@import url("pad/popup.css");
@import url("pad/popup_connectivity.css");
@import url("pad/popup_import_export.css");
@import url("pad/popup_users.css");
@import url("pad/icons.css");
@import url("pad/chat.css");
@import url("pad/gritter.css");
@import url("pad/loadingbox.css");
@import url("pad/form.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Arial", "Roboto", sans-serif;
}

html {
  font-size: 15px;
  color: #3e3e3e;
}

html,
#sidedivinner > div:before {
  font-family: Roboto;
}

.clear {
  clear: both;
}
a {
  color: inherit;
  overflow-x: auto;
  white-space: nowrap;
}
a img {
  border: 0;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
}
.thin-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
}

.buttontext::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.buttontext:focus {
  /* Not sure why important is required here but it is */
  border: 1px solid #666 !important;
}
.rtl {
  direction: RTL;
}

/* fix for misaligned checkboxes */
input[type="checkbox"] {
  vertical-align: -1px;
}
input {
  color: inherit;
}
.right {
  float: right;
}

@media (max-width: 800px) {
  .hide-for-mobile {
    display: none;
  }
}
.ep-align-left {
  float: left;
  margin-right: 1em;
}
.ep-align-right {
  float: right;
  margin-left: 1em;
}
.ep-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

span.assigned {
  display: inline-block !important;
  white-space: pre-wrap !important;
  word-break: break-word !important;
  position: relative;
  border-bottom: none !important;
}

.assigned[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(-0.3rem);
  background-color: #f2f3f4;
  color: #14568c;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.06);
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 9999;
  white-space: nowrap;
  border: 0.01rem solid #14568c;
  min-width: 10rem;
  white-space: break-spaces;
}

.assigned[data-tooltip]:hover::after {
  opacity: 1;
}
